<div class="main-container z-depth-5">
  <h3 class="txt-primary">Login</h3>
  <%= form_tag sessions_path do %>
  <%= label_tag :email %>
  <%= email_field_tag :email %>
  <%= label_tag :password %>
  <%= password_field_tag :password %>
  <%= submit_tag("Log in", :class=>"waves-effect waves-light btn")%>
  <% end %>
</div>
