<div class= "container">
  <div class="main-container index-attributes z-depth-5">
    <div class="static">
        <h3 class="txt-primary">Equidestined</h3>
    </div>


    <%= form_tag(users_path, method: :get) do %>
      <%= text_field_tag :search, params[:search], placeholder: "Enter your friends first and last name", value: nil %>
      <%= submit_tag "Search", :name => nil, class: "waves-effect waves-light btn" %>
    <% end %>

  <% if @matches %>
      <% @matches.each do |match| %>
        <div class="user-container">
            <%= link_to match.name, user_path(match) %>
                <% @user = match %>
                <%= render 'follow_form' if logged_in? %>
            <% end %>
        </div>
      <% end %>
      
  </div>
</div>
