
<div class= "container">

  <div class="main-container index-attributes z-depth-5">
    <div class="static">
        <h3 class="txt-primary">Equidestined</h3>
      </div>
        <h6><%= @title %></h6>
        <br />
        <div style='width: 100%;'>
          <div id="map" style='width: 100%; height: 450px;'></div>
        </div>
        <ul>
        <% @searches.each do |search| %>
          <% user_name = User.find(search.user_id).name unless search.user_id.nil? || @sample %>
          <li><p><strong><span class="txt-primary"><%= user_name || "Anonymous Search"%></span> - <%= search.display_datetime %></strong></p>
            <ul>Locations searched:
              <% search.locations.each do |location| %>
              <li><%= location.address %> </li>
              <% end %>
            </ul>
            <strong>Midpoint:</strong>
            <%= search.midpoint.address %>
          </li>
          <hr>
      <% end %>
      </ul>

  </div>
</div>

<script src="//maps.google.com/maps/api/js?key=AIzaSyDnqcczTMv_b43f8WvEKG1KH8n_raxpeq8"></script>
<script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>


<script type="text/javascript">
  handler = Gmaps.build('Google');
  handler.buildMap(
    {
      provider: {
        disableDefaultUI: true,
        zoom: 12
        // here you can pass other Google Maps API options here
      },
      internal: {
        id: 'map'
      }
    },
    function() {
      markers = handler.addMarkers([
          <% @searches.each do |search| %>
              <% @mp_location = Location.create(address: search.midpoint.address)%>
                  {
                    "lat":<%= @mp_location.latitude%>,
                    "lng":<%= @mp_location.longitude%>
                  },
            <% end %>
      ]);
      handler.bounds.extendWith(markers);
      handler.map.centerOn({lat: 40.7589, lng: -73.9851})
    }
  );
</script>
