<div class= "container">

  <div class="main-container index-attributes z-depth-5">
    <div class="static">
        <h3 class="txt-primary">Equidestined</h3>
      </div>
        <h6><%= @title %></h6>
        <ul>
        <% @searches.each do |search| %>
          <% user_name = User.find(search.user_id).name unless search.user_id.nil? %>
          <li><p><strong><span class="txt-primary"><%= user_name || "Anonymous Search"%></span> - <%= search.created_at.strftime("%A, %B %-d, %Y %I:%M:%S %P") %></strong></p>
            <ul>Locations searched:
              <% search.locations.each do |location| %>
              <li><%= location.address %> </li>
              <% end %>
            </ul>
            <strong>Midpoint:</strong>
            <%= search.midpoint.address %>
          </li>
          <hr>
      <% end %>
      </ul>
  </div>
</div>
