<div class="main-container map-width z-depth-5">
  <h3 class="txt-primary">Here's the midpoint!</h3>
    <h6><%= @search.midpoint.address %></h6>
    <ul><strong>Nearby venues:</strong>
      <% @venues.each do |venue| %>
        <li><%= link_to venue.name, venue.url, target: :_blank %> - <%= venue.address %> </li>
      <% end %>
    </ul>
  <div style='width: 100%;'>
    <div id="map" style='width: 100%; height: 300px;'></div>
  </div>

  <p class="mb-0"><%= link_to "Find more midpoints", new_search_path %></p>
</div>

<script src="//maps.google.com/maps/api/js?key=AIzaSyDnqcczTMv_b43f8WvEKG1KH8n_raxpeq8"></script>
<script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>



<script type="text/javascript">
  handler = Gmaps.build('Google');
  handler.buildMap(
    {
      provider: {
        disableDefaultUI: true,
        zoom: 15
        // here you can pass other Google Maps API options here
      },
      internal: {
        id: 'map'
      }
    },
    function() {
      markers = handler.addMarkers([
        {
          "lat":<%= @search.midpoint.latitude %>,
          "lng":<%= @search.midpoint.longitude %>,
          <% if @search.locations.length == 2 %>
            "infowindow": "The midpoint of <%=@search.locations[0].address%> and <%=@search.locations[1].address%> is here "
          <% else %>
            "infowindow": "The midpoint of <%=@search.locations[0].address%>, <%=@search.locations[1].address%>, and <%=@search.locations[2].address%> is here "
          <% end %>
        },
        <% @venues.each do |venue| %>
          <% @venue_location = Location.create(address: venue.address)%>
            {
              "lat":<%= @venue_location.latitude%>,
              "lng":<%= @venue_location.longitude%>,
              "infowindow": "<a href=<%=venue.url%>><%=venue.name%></a> is at <%=@venue_location.address%>",
              "picture": {
                url: "http://maps.google.com/mapfiles/ms/icons/blue-dot.png",
                width:  36,
                height: 36
              }
            },
          <% end %>
      ]);
      handler.bounds.extendWith(markers);
      handler.map.centerOn({lat: <%= @search.midpoint.latitude %>,lng: <%= @search.midpoint.longitude %>})
    }
  );
</script>
