<h1>Welcome <%=@current_user.name %>, you sexy clown!</h1>

<div class="locations-container z-depth-5">
  <h3 class="txt-primary">Equidestined</h3>
  <p>Enter two addresses below to find the midpoint!</p>
  <%= form_tag locations_path do %>
    <% @locations.each do |location| %>
      <%= fields_for 'locations[]', location do |p| %>
        <%= p.label :address %><br>
        <%= p.text_field :address %><br>
      <% end %>
    <% end %>
      <br><%= submit_tag('Get Midpoint!', :class=>"waves-effect waves-light btn") %>
    </div>
  <% end %>
</div>
