<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Equidestined</title>
    <%= csrf_meta_tag %>

    <!-- MATERIAL ICONS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- APPLE -->
    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet" type="text/css">
    <!-- MATERIAL STYLES -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <!-- CUSTOM STYLES -->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => "reload" %>

  </head>

  <body>

    <!-- HEADER  -->
    <div class="nav-wrapper">
		 <nav class="main-nav" role="navigation">
  			<div class="nav-wrapper container">
          <ul class="left">
            <%=link_to 'Equidestined', start_path%>
          </ul>
          <ul class="right hide-on-med-and-down">
            <li><%=link_to 'About', about_path%></li>
            <% if logged_in? %>
              <li><a class="dropdown-button" href="#!" data-activates="user_dropdown"><i class="material-icons left">person</i><%= current_user.name %> <i class="material-icons right">arrow_drop_down</i></a></li>
              <!-- Dropdown Structure -->
               <ul id="user_dropdown" class="dropdown-content">
                 <li><%= link_to "My Profile", user_path(current_user) %></li>
                 <li><%= link_to "My Searches", searches_user_path(current_user) %></li>
                 <li><%= link_to "My Friends", following_user_path(current_user) %></li>
                 <li><a href="#!">Saved Locations</a></li>
                  <li><%= link_to "Logout", logout_path, method: :"delete", data: {confirm: "Are you sure?"}%></li>
               </ul>
             <% else %>
                 <li><%= link_to "Log In", login_path %></li>
                 <li><%= link_to "Sign Up", new_user_path %></li>
             <% end %>
          </ul>
              <!-- MOBILE NAV -->
      			<ul id="nav-mobile" class="side-nav">
              <li><a href="#!">About</a></li>
              <% if logged_in? %>
                <li><a class="dropdown-button" href="#!" data-activates="mobile_user_dropdown"><i class="material-icons left">person</i><%= current_user.name %> <i class="material-icons right">arrow_drop_down</i></a></li>
                <!-- Dropdown Structure -->
                 <ul id="mobile_user_dropdown" class="dropdown-content">
                   <li><a href="#!">My Profile</a></li>
                   <li><a href="#!">My Friends</a></li>
                   <li><a href="#!">Saved Locations</a></li>
                    <li><%= link_to "logout", logout_path, method: :"delete", data: {confirm: "Are you sure?"}%></li>
                 </ul>
               <% else %>
                   <li><%= link_to "Log In", login_path %></li>
                   <li><%= link_to "Sign Up", new_user_path %></li>
               <% end %>
    			  </ul>
    			  <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="zmdi zmdi-menu"></i></a>
    			</div>
  		  </nav>
	  </div>
    <!-- /HEADER  -->

    <!-- MAIN  -->
    <div class="container">
      <%= yield %>
    </div>
    <!-- /MAIN  -->

    <!-- JQUERY - THIS FILE IS NEEDED FOR MATERIALIZE.JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- MATERIALIZE.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
    <!-- SCRIPT -->


    <script type="text/javascript">
      $( document ).ready(function(){
        $(".button-collapse").sideNav();
      })
    </script>
  </body>
</html>
